node_modules
npm-debug.log
dist
.env
Dockerfile
**/*.md
.git
.gitignore
.dockerignore
src/**/*.spec.js
src/**/*.test.js
src/__tests__/
logs
.vscode
.idea
.env.development
.env.production
.env.test
coverage
