[build]
  command = "npm run build:serverless"
  functions = "api"
  publish = "src/client/dist"

[build.environment]
  NODE_VERSION = "20"

[dev]
  command = "npm run dev:frontend-only"
  functions = "api"
  publish = "src/client/dist"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/index/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200