[build]
  publish = "dist/public"
  command = "npm run build:full"

[build.environment]
 NODE_VERSION = "20"

[[redirects]]
  from = "/api/*"
  to = "${BACKEND_URL}/api/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[dev]
  command = "npm run dev"
  port = 3000
  publish = "dist/public"