[build]
  command = "npm run build:netlify"
  functions = "dist/netlify/functions"
  publish = "dist/client"

[context.deploy-preview]
  command = "mkdir -p dist/client && echo 'Deploy skipped to save quota' > dist/client/index.html && mkdir -p dist/netlify/functions"

[context.branch-deploy]
  command = "mkdir -p dist/client && echo 'Deploy skipped to save quota' > dist/client/index.html && mkdir -p dist/netlify/functions"

[dev]
  command = "npm run dev"
