[build]
  command = "npm run build:netlify"
  functions = "dist/netlify/functions"
  publish = "dist/client"

[dev]
  command = "npm run dev"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/server"
  status = 200
  force = true

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
